<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <h1>Welcome!</h1>
      <h3>Please sign up before using the app</h3>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
            <center>
                <input name="firstName" type="text" class="ghost-input" placeholder="First Name" required>
                <input name="lastName" type="text" class="ghost-input" placeholder="Last Name" required>
            </center>
            <br>
          <center><input name="username" type="text" class="ghost-input" placeholder="Username" required></center>
            <br>
            <center><input name="email" type="text" class="ghost-input" placeholder="Email" required></center>
            <br>
            <center><input name="password" type="text" class="ghost-input" placeholder="Password" required></center>
            <br>
            <center><input type="submit" class="ghost-button" value="Submit & Sign Up"></center>
        </form>
          
      </fieldset>
    </div>
  </body>
</html>